name: Continuous Deployment (Backend)

on: 
    push:
        branches:
            - main
        paths:
            - 'backend/**'

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            
            - name: Docker login
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and Push
              uses: docker/build-push-action@v6
              with:
                context: .
                file: ./Dockerfile.backend
                push: true
                tags: ${{ secrets.DOCKERHUB_USERNAME }}/paytm-backend:latest
            
            - name: Deploy to VM
              uses: appleboy/ssh-action@v1
              with:
                host: ${{ secrets.HOST }}
                username: ${{ secrets.USER }}
                key: ${{ secrets.SSH_KEY }}
                port: 22
                script: |
                    docker stop paytm-backend || true
                    docker rm paytm-backend || true
                    docker run -d -p 3000:3000 --name paytm-backend -e MONGODB_URL=${{ secrets.MONGODB_URL }} -e JWT_SECRET=${{ secrets.JWT_SECRET }} ${{ secrets.DOCKERHUB_USERNAME }}/paytm-backend:latest
            